# Порт, на котором будет доступен сайт (по умолчанию 80)
FRONT_PORT=80

# PostgreSQL
POSTGRES_PASSWORD=20033002

# JWT (смените в продакшене)
JWT_TOKEN=MySuperSecureAndRandomKeyThatLooksJustAwesomeAndNeedsToBeVeryVeryLong!!!111oneeleven
JWT_ISSUER=MyAwesomeApp
JWT_AUDIENCE=MyAwesomeAudience
